h1{
	color: #99ff20;
	font-size: 10vw;
	margin-bottom: -2.5vw; /* ??? vw가뭐야*/
}

p{
	color: #fff;
	text-transform: uppercase; /**/
	font-size: 5vw;
	font-weight: 700;
	margin-bottom: 4vw;
}

.container{
	display: grid; /**/
	/*그리드의 열을 자동으로 반복 각 열의 크기는 최소12rem 최대1fr까지 조절*/
	grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
	gap : 2rem; /**/
	width: 100%;
	margin-bottom: 50px;
}
.container .bx{
	border-radius: 10px;
	height: 14.25rem;
	background: #21242b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 10px solid #99ff20;
}
.container .bx .caption{
	color: #b2b5ba;
}
.container .bx .counter{
	color: #fff;
	font-size: 5rem;
	font-weight: 700;
}